﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.action-bar{
color: darkblue;
font-weight: bold;
}

.btn {
    font-size: 18;
}

#todo_header_plain{
    color: darkblue;
    font-weight: bold;
}

.fa {
    color: darkblue;
    font-size: 35;
  }

#no_todos{
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#todo_header{
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    width: 85%;
    font-weight: bold;
}

.signin{
    background-color: darkblue;
}

.formInput{
    border-bottom-width: 1;
    border-color: 1px solid black;
}

.add{
    background-color: purple;
    border-radius: 50;
}

.add_content{
    background-color: darkcyan;
    padding: 0 20;
}

.dropdown{
    border-color: black;
}

